@model LanguageFeatures.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoProperty</title>
</head>
<body>
    <div>
        @model
    </div>
</body>
</html>
